#map{
	height: 50vw;
	width: 100%;
}
#add-marker:disabled{
	cursor: not-allowed;
}
.map-wrapper{
	width: 100%;
	// max-width: 1600px;
}
.map-table  td,
.map-table  th{
	padding: 0.5rem 0.75rem;
}
.remove-button{
	padding: .15rem .25rem;
}
.button-outline {
	border-color: #fb505d;
}
#location0{
	padding-right: 40px;
}

#add-location:disabled{
	cursor: not-allowed;
}
.table .address-group .address-name{
	position: relative;
	padding-right: 40px;
}
.table .address-group .address-number{
	max-width: 30px;
	width: 20px;
}
img.remove_icon {
	display: block;
	width: 12px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	cursor: pointer;
}